@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
:root {
  --bg-color: hsl(178, 100%, 50%);
  --bg-text-color: hsl(215, 51%, 70%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Outfit;
}

.card-container {
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  height: 70vh;
  /* width: 40vh; */
  max-width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
}

.image {
  border-radius: 8px;
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
}

.image-container {
  background-color: hsl(178, 100%, 50%);
  background-image: url(images/icon-view.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  border-radius: 8px;
}

.image:hover {
  cursor: pointer;
  /* back: hsl(178, 100%, 50%); */
  opacity: 60%;
  transition: .5s ease
}



.text-container p:first-child {
  font-size: 18px;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  margin-bottom: 15px;
}

.text-container p:first-child:hover {
  cursor: pointer;
  color: var(--bg-color);
}

.text-container p:last-child {
  font-size: 17px;
  color: var(--bg-text-color);
}

.eth-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid white; */
}

.price {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.price img {
  height: 2vh;
  margin-right: 5%;
}

.price h2 {
  font-size: 15px;
  color: var(--bg-color);
  
}

.days {
  width: 34%;
  color: var(--bg-text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
}

hr {
  border: 0;
  border-top: .1px solid hsl(215, 32%, 27%);
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.avatar-container img {
  height: 30px;
  border: solid 1px #ffffff;
  border-radius: 50%;
}

.avatar-container p {
  font-size: 15px;
  margin-left: 5%;
  color: var(--bg-text-color);
}

.avatar-container span {
  color: hsl(0, 0%, 100%);
}

.avatar-container span:hover {
  color: var(--bg-color);
  cursor: pointer;
}